@mixin header-button-shape {
  border: none;
      box-shadow: 0px $_1px $_2px rgba(0,0,0,0.1), 
            0px $_2px $_4px rgba(0,0,0,0.1), 
            0px $_4px $_8px rgba(0,0,0,0.1), 
            0px $_8px $_16px rgba(0,0,0,0.1);
  border-radius: $_20px;
  background: rgb(151, 158, 158);
  background: linear-gradient(
    0deg,
    rgb(114, 72, 159) 0%,
    rgba(215, 172, 223, 0.9) 100%
  );
  padding: $_8px;
  transition: 0.4s ease;
  cursor: pointer;
  z-index: 100;
  &:hover {
    transform: scale(0.95);
  }
  &:active {
    transform: scale(0.7);
  }
}

@mixin closeBtnCart {
  position: relative;
  border: none;
  border-radius: $_20px;
  box-shadow: 0px $_1px $_2px rgba(0,0,0,0.1), 
            0px $_2px $_4px rgba(0,0,0,0.1), 
            0px $_4px $_8px rgba(0,0,0,0.1), 
            0px $_8px $_16px rgba(0,0,0,0.1);
  // background: rgb(151, 158, 158);
  background: radial-gradient(
    rgb(205, 85, 87) 0%,
    rgba(123, 38, 38, 0.9) 100%
  );
  padding: $_5px;
  transition: 0.4s ease;
  cursor: pointer;
  &:hover {
    transform: scale(0.99);
  }
  &:active {
    transform: scale(0.9);
  }
}

@mixin flex-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

@mixin card-style {
  width: 100%;
  height: 70%;
  overflow-y: hidden;
}

@mixin cross {
  &::before {
    content: '';
    position: absolute;
    top: $_10px;
    display: block;
    width: $_24px;
    height: $_3px;
    background: #1f0d0d;
    transform: rotate(45deg);
  }
  
  &::after {
    content: '';
    position: absolute;
    top: $_10px;
    display: block;
    width: $_24px;
    height: $_3px;
    background: #1f0d0d;
    transform: rotate(-45deg);
  }
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}