.item-wrap {
  width: 100%;
  height: 40%;
  border: 0.5px solid #6e316e;
  border-radius: $_15px;
  box-shadow: 0px $_1px $_2px rgba(0,0,0,0.1), 
            0px $_2px $_4px rgba(0,0,0,0.1), 
            0px $_4px $_8px rgba(0,0,0,0.1), 
            0px $_8px $_16px rgba(0,0,0,0.1);
  margin-bottom: $_3px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.img-wrap {
  overflow: hidden;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  display: flex;
  object-fit: contain;
  background-color: #fff;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}



.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;

  .item-title {
    text-transform: capitalize;
    letter-spacing: $_1px;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
  } 
  
  .item-price {
    display: block;
    font-size: $_20px;
    font-weight: 600;
    letter-spacing: $_1px;
  }

  .quantity-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .quantity-btn{
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 0.875rem;
      cursor: pointer;
      width: $_20px;
      height: $_20px;
      font-weight: 600;
      border: none;
      border-radius: 10%;
      box-shadow: 0px $_1px $_2px rgba(0,0,0,0.1), 
            0px $_2px $_4px rgba(0,0,0,0.1), 
            0px $_4px $_8px rgba(0,0,0,0.1), 
            0px $_8px $_16px rgba(0,0,0,0.1);
           &:hover {
        transform: scale(0.94);
      }
  
      &:active {
        transform: scale(0.9);
      }
    }
      #minus{
          background: round;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-origin: content-box;
        background-image: url(../img/icons/minus-solid.svg);

      }
      #plus {
        background: round;
        background-image: url(../img/icons/plus-solid.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;

      }
    

    #item-number {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: $_1px;
    }


  }
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $_10px 0;
  width: 95%;
  height: 100%;
  margin: auto;
}

.item-delete-btn {
  position: relative;
  @include closeBtnCart;
  font-size: 1.125rem;
  width: $_30px;
  height: $_30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background-image: url(../img/icons/trash-can-regular.svg);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-buy-btn {
  position: relative;
  @include closeBtnCart;
  font-size: 1.125rem;
  width: $_30px;
  height: $_30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background-image: url(../img/icons/money-check-solid.svg);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 480px) {
  .item-content {
    padding: $_5px 0;
  }
  .img-wrap {
    width: 35%;
  }
}