@import "./_cdn.scss";
@import "./_mixins.scss";
@import "./var.scss";
@import "./header.scss";
@import './modal.scss';
@import './cart_items.scss';
@import "./cards.scss";
@import "./slider.scss";
@import "./footer.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  background-color: #efebf5;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media(max-width: 1024px){
  .container{
    width: 90%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 14px;
  }

  .container{
    width: 90%;
  }
}

@media(max-width: 600px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 95%;
  }
  .cards-wrapper {
    justify-content: space-around;
  }
}


@media(max-width: 340px) {
  .container {
    width: 100%;
    padding: 0 $_10px;
  }
}